
$cinzaPadrao: rgb(187, 189, 197);
$azulEscuro: rgb(63, 86, 107);
// $background-default: #4878A8;
$background-default: #1A2B2B;
$dashboard-default-background: #FFF9C4; 
$CardsRedInfo-default: #690b0b;

$IndigoMat: #2c387e;
$BlackPanel: #212121;
$GrayPanel: #424242;

$orangeIcon: #df7823;
$blueIcon: #2c387e;
$greenIcon: #2c7c25;
$redIcon:#a01616;

// Paletas de Cores ColorLovers

// We Never Change
$DarkBlue: #1A2B2B;
$DarkBrown: #332222; 
$MissionaryRed: #4D1A1A;
$BrickRed: #661111;
$RedJarrah: #800909;

// 2 Kool for Skool
$SequentialBlack: #020304;
$RubyTuesday: #541F14;
$RubyTuesdayFade: rgba(84, 31, 20, 0.623);
$RecliningNudeII: #938172;
$NylonStockings: #CC9E61;
$PitPony:#626266;

// 6 inch heels
$Silletto: #1A2B2B;
$WetPlanks: #332222;
/*Cores em paleta anterior 
$MissionaryRed: #4D1A1A;
$BrickRed: #661111;
$RedJarrah: #800909;
*/