<section class="main-banner" id="main-banner">

  <div class="banner-content">

    <h3>
      <span>Não deixe sua campanha cair no esquecimento com o</span>
      <br>
      <br>
      <br>
      <br> Dungeon Master's Journal!</h3>

    <p>
      A plataforma desenvolvida por jogadores para jogadores.
      <br> Venha conosco, suas campanhas nunca mais irão perder os detalhes que as tornam épicas!
    </p>

    <button mat-raised-button color="primary" routerLink="/login">Venha conosco nesta aventura!</button>
  </div>

</section>

<section class="home-other-info">
  <p class="title-other-info">O 
    <span>Dungeon Master's Journal</span> possibilita...</p>
  <div class="container">

    <div class="cardInfo">

      <aside class="card" elevation="2">
        <header>
          <!-- <figure elevation="1"></figure> -->
          <div class="text">
            <h1>Criar</h1>
            <h2>suas mesas como Mestre</h2>
          </div>
        </header>
        <figure class="rich_media" id="image_1"></figure>
        <div class="supporting_text">
          <p>
            O DMJournal possilita que você como mestre possa criar várias campanhas
            silmultâneamente e editá-las quando quiser.
          </p>
        </div>
      </aside>

      <aside class="card" elevation="2">
          <header>
            <!-- <figure elevation="1"></figure> -->
            <div class="text">
              <h1>Acompanhar</h1>
              <h2>suas campanhas em um uníco lugar</h2>
            </div>
          </header>
          <figure class="rich_media" id="image_2"></figure>
          <div class="supporting_text">
            <p>
              Acompanhe suas campanhas!
              Os jogadores de um "mesa" podem acompanhar todas informações da campanha
              tendo total acesso ao contúdo disponibilizado pelo mestre,
              tendo com controle total de quem pode ver a mesa. 
            </p>
          </div>
        </aside>

      <aside class="card" elevation="2">
        <header>
          <!-- <figure elevation="1"></figure> -->
          <div class="text">
            <h1>Melhor Organização</h1>
            <h2>de suas mesas</h2>
          </div>
        </header>
        <figure class="rich_media" id="image_3"></figure>
        <div class="supporting_text">
          <p>
            com suas campanhas centralizadas em uma unica plataforma fica mais facil organizar
            as sessões de cada campanha com muito menos esforço.
          </p>
        </div>
      </aside>

      <aside class="card" elevation="2">
          <header>
            <!-- <figure elevation="1"></figure> -->
            <div class="text">
              <h1>Reunir a galera</h1>
              <h2>e controlar mais facilmente</h2>
            </div>
          </header>
          <figure class="rich_media" id="image_4"></figure>
          <div class="supporting_text">
            <p>
              Jogadores podem ser adicionados nas mesas pelo Mestre, rapidamente e de forma simples.
              Somente os interessados tem acesso as informações.
            </p>
          </div>
        </aside>

    </div>

  </div>
</section>

<section class="main-banner2" id="main-banner2">

  <div class="banner-content">

    <h3>
      <span>Não deixe sua campanha cair no esquecimento com o</span>
      <br>
      <br>
      <br>
      <br> Dungeon Master's Journal!</h3>

    <p>

      <br> Entre, suas campanhas nunca mais irão perder detalhes importantes!
    </p>

    <button mat-raised-button color="primary" routerLink="/login">Venha conosco nesta aventura!</button>
  </div>

</section>


<section class="home-other-info">
  <div class="container">

    <div class="inner-content">
      <div class="info-content">
        <h4 class="info-title">Jogue RPG de Mesa!</h4>
        <p>
          Liberte sua imaginação! O jogo de rpg é um jogo de imaginação,
          <br> onde a mente dos jogadores é responsável por criar o mundo onde incontáveis aventuras serão vividas.
        </p>

        <button mat-raised-button color="primary" routerLink="/login">Venha conosco nesta aventura!</button>
      </div>

      <img src="/assets/images/tableRoll.jpg" alt="" class="info-image">
    </div>
  </div>
</section>