<section class="main-banner" id="main-banner">

  <div class="banner-content">

    <h3>
      <span>Não deixe sua campanha cair no esquecimento com o</span>
      <br>
      <br>
      <br>
      <br> Dungeon Master's Journal!</h3>

    <p>
      A plataforma desenvolvida por jogadores para jogadores.
      <br> Venha conosco, suas campanhas nunca mais irão perder os detalhes que as tornam épicas!
    </p>

    <button mat-raised-button color="primary" routerLink="/login">Venha conosco nesta aventura!</button>
  </div>

</section>

<section class="home-other-info">
  <p class="title-other-info">Com o
    <span>Dungeon Master's Journal</span> você pode...</p>
  <div class="container">


    <div class="inner-content">
      <div class="info-content">
        <h4 class="card-title">Organizar</h4>
        <p class="card-description">
          Organize suas campanhas e sessões em um único lugar!
          <br> Nossa plataforma oferece acesso que possilita registrar simultâneamente várias campanhas
          independentes silmultâneamente. Tudo organizado centralizado em um único lugar.
        </p>
      </div>
      <div class="circle">
        <img src="/assets/images/dados_e_ficha_draw.jpg" alt="" class="info-image">
      </div>
    </div>


    <div class="inner-content">
      <div class="circle" style="margin-left: 100px;">

      </div>
      <img src="/assets/images/grupo_aventureiros_1.png" alt="" class="info-image">
      <div class="info-content">
        <h4 class="card-title">Criar</h4>
        <p class="card-description">
          Organize suas campanhas e sessões em um único lugar!
          <br> Nossa plataforma oferece acesso que possilita registrar simultâneamente várias campanhas
          independentes silmultâneamente. Tudo organizado centralizado em um único lugar.
        </p>
      </div>
    </div>


    <div class="inner-content">
      <div class="info-content">
        <h4 class="card-title">Estar sempre preparado</h4>
        <p class="card-description">
          Organize suas campanhas e sessões em um único lugar!
          <br> Nossa plataforma oferece acesso que possilita registrar simultâneamente várias campanhas
          independentes silmultâneamente. Tudo organizado centralizado em um único lugar.
        </p>
      </div>
      <div class="circle">
        <img src="/assets/images/anao_1.png" alt="" class="info-image">
      </div>
    </div>

  </div>
</section>

<section class="main-banner2" id="main-banner2">

  <div class="banner-content">

    <h3>
      <span>Não deixe sua campanha cair no esquecimento com o</span>
      <br>
      <br>
      <br>
      <br> Dungeon Master's Journal!</h3>

    <p>

      <br> Entre, suas campanhas nunca mais irão perder detalhes importantes!
    </p>

    <button mat-raised-button color="primary" routerLink="/login">Venha conosco nesta aventura!</button>
  </div>

</section>


<section class="home-other-info">
  <div class="container">

    <div class="inner-content">
      <div class="info-content">
        <h4 class="info-title">Jogue RPG de Mesa!</h4>
        <p>
          Liberte sua imaginação! O jogo de rpg é um jogo de imaginação,
          <br> onde a mente dos jogadores é responsável por criar o mundo onde incontáveis aventuras serão vividas por
          seus personagens.
        </p>

        <button mat-raised-button color="primary" routerLink="/login">Venha conosco nesta aventura!</button>
      </div>

      <img src="/assets/images/dices_03.jpg" alt="" class="info-image">
    </div>
  </div>
</section>