<section class="main-banner" id="main-banner">

  <div class="banner-content">

    <h3>
      <span>Não deixe sua campanha cair no esquecimento com o</span>
      <br>
      <br>
      <br>
      <br> Dungeon Master's Journal!</h3>

    <p>
      A plataforma desenvolvida por jogadores para jogadores.
      <br> Venha conosco, suas campanhas nunca mais irão perder os detalhes que as tornam épicas!
    </p>

    <button mat-raised-button color="primary" routerLink="/login">Venha conosco nesta aventura!</button>
  </div>

</section>

<section class="home-other-info">
  <p class="title-other-info">Com o
    <span>Dungeon Master's Journal</span> você pode...</p>
  <div class="container">

      <div class="cardInfo">
        <aside class="card" elevation="2">
          <header>
            <figure elevation="1"></figure>
            <div class="text small">
              <h1>Organizar</h1>
              <h2>suas campanhas em um uníco lugar</h2>
            </div>
          </header>
          <figure class="rich_media" id="image_1"></figure>
          <div class="supporting_text">
            <p>
              Organize suas campanhas e sessões em um único lugar!
              Nossa plataforma oferece acesso que possilita registrar simultâneamente várias campanhas
              independentes silmultâneamente. Seja como Mestre ou Jogador.
              Tudo organizado e centralizado em um único lugar.
            </p>
          </div>

        </aside>

        <aside class="card" elevation="2">
          <header>
            <figure elevation="1"></figure>
            <div class="text small">
              <h1>Title</h1>
              <h2>Subtitle</h2>
            </div>
          </header>
          <figure class="rich_media" id="image_1"></figure>
          <div class="supporting_text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>

        </aside>

        <aside class="card" elevation="2">
          <header>
            <figure elevation="1"></figure>
            <div class="text small">
              <h1>Title</h1>
              <h2>Subtitle</h2>
            </div>
          </header>
          <figure class="rich_media" id="image_1"></figure>
          <div class="supporting_text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>

        </aside>
      </div>

  </div>
</section>

<section class="main-banner2" id="main-banner2">

  <div class="banner-content">

    <h3>
      <span>Não deixe sua campanha cair no esquecimento com o</span>
      <br>
      <br>
      <br>
      <br> Dungeon Master's Journal!</h3>

    <p>

      <br> Entre, suas campanhas nunca mais irão perder detalhes importantes!
    </p>

    <button mat-raised-button color="primary" routerLink="/login">Venha conosco nesta aventura!</button>
  </div>

</section>


<section class="home-other-info">
  <div class="container">

    <div class="inner-content">
      <div class="info-content">
        <h4 class="info-title">Jogue RPG de Mesa!</h4>
        <p>
          Liberte sua imaginação! O jogo de rpg é um jogo de imaginação,
          <br> onde a mente dos jogadores é responsável por criar o mundo onde incontáveis aventuras serão vividas por
          seus personagens.
        </p>

        <button mat-raised-button color="primary" routerLink="/login">Venha conosco nesta aventura!</button>
      </div>

      <img src="/assets/images/dices_03.jpg" alt="" class="info-image">
    </div>
  </div>
</section>