.nova-mesa{  
  min-width: 80%;
  max-width: 80%;
}

.sistema-jogo{
  margin-left: 50px !important;
}


.cadastro-mesa-form {
    width: 100%;
    padding: 35px 50px 90px 50px;
    border-radius: 10px;
  }

.obs{
  margin: 5px 0px 30px 250px !important;
}

.min-field{
  margin-left: 30px !important;
}
  