<div class="login">
  <div class="container">
 <div class="form-header">
    </div>
    <form>
      <h3>Login</h3>
      <div class="form-group">
        <input class="" type="email" name="email" placeholder="E-mail" [(ngModel)]="user.email">
        <!-- <label for="email"></label> -->
        <div class="error">Email is incorrect.</div>
        <span class="bar"></span>
      </div>
      <div class="form-group">
        <input class="" type="password" name="password" placeholder="Senha" [(ngModel)]="user.password"/>
        <!-- <label for="password"></label> -->
        <div class="visible"></div>
        <span class="bar"></span>
      </div>
      <div class="form-submit">
        <button type="submit" value="Login" (click)="goLogin()">LOGIN</button>
      </div>

      <div class="obs">
          <p>Ainda não possui uma conta? <br> <b routerLink="/cadastro">cadastre-se</b> aqui!
          </p> 
      </div>
    </form>
  </div>

  </div>
   